<footer>
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-brand">
                <div class="footer-logo">
                    <i class="fa-brands fa-airbnb"></i>
                    Wanderlust
                </div>
                <p class="footer-description">
                    Discover amazing places to stay around the world. From cozy apartments to luxury villas, 
                    find your perfect accommodation for unforgettable travel experiences.
                </p>
                <div class="footer-socials">
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
            
            <div class="footer-section">
                <h5>Explore</h5>
                <ul class="footer-links">
                    <li><a href="/listings">All Listings</a></li>
                    <li><a href="#">Popular Destinations</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Featured Properties</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h5>Host</h5>
                <ul class="footer-links">
                    <li><a href="/listings/new">List Your Property</a></li>
                    <li><a href="#">Host Resources</a></li>
                    <li><a href="#">Community Guidelines</a></li>
                    <li><a href="#">Host Protection</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h5>Support</h5>
                <ul class="footer-links">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Safety Information</a></li>
                    <li><a href="#">Cancellation Options</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="footer-copyright">
                © 2024 Wanderlust Private Ltd. All rights reserved.
            </div>
            <div class="footer-legal">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="#">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>
